apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

resources:
- ../base

namespace: home-automation

labels:
- includeSelectors: true
  pairs:
    storage: truenas

images:
- name: docker.io/postgres
  newTag: "14"
- name: ghcr.io/x-real-ip/home-assistant
  newTag: 1637b18de0066cc874005e30257e4748bd8c97cb
