apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

resources:
- ../base

namespace: home-automation

images:
- name: ghcr.io/x-real-ip/home-assistant
  newTag: 2fe6a2f7bccaf4c56069842821f1f9a83ec73ce4

labels:
- includeSelectors: true
  pairs:
    storage: truenas
