apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

resources:
- ../base

namespace: home-automation

labels:
- includeSelectors: true
  pairs:
    storage: truenas

images:
- name: docker.io/postgres
  newTag: "14"
- name: ghcr.io/x-real-ip/home-assistant
  newTag: b0de27603c2874079e191380f38f7691d5fb401a
