apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

resources:
- ../base

namespace: home-automation

images:
- name: ghcr.io/x-real-ip/is-it-dark
  newTag: a4b6edf894ee8d492161d4b8cfa8fc23eaf6cd57
