---
apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

resources:
  - ../base

namespace: tools

images:
  - name: ghcr.io/immich-app/immich-server
    newTag: v1.131.3
  - name: ghcr.io/immich-app/immich-machine-learning
    newTag: v1.131.3

labels:
  - includeSelectors: true
    pairs:
      storage: truenas

configMapGenerator:
  - name: immich-config
    files:
      - configs/immich-config.json
