---
apiVersion: bitnami.com/v1alpha1
kind: SealedSecret
metadata:
  annotations:
    sealedsecrets.bitnami.com/cluster-wide: "true"
  name: cups-secret
spec:
  encryptedData:
    CUPSPASSWORD: AgBiCgXsoP3ret2p8zU2oVkQsFFjgqPcd8WrzR6qOmm2buX2WO/K8RHIq+/Ke1cpHsNjmxveodwZFrDM95YhIo2JuZdFjkJ2+Q2CdGdljiCR/p4ybTSfbbuoHaoDvWBL4oARNFqtsvBuSpmvh/kGIgPvog37LX3kX86RVFbOwzp0BxMlLF6Neh1L1rBsZ9ImvO5XzzHQOZ25tocvzgbX5S3vCs9HrEjKT3jd8lbIrRYf5e3EuvZGfnuvwb5CSDMdJnCd5BaV7IUUlrvCq36nUxbzL5bdukL+OF4BrehZHqdtSuv9tdlPiWvW3WRWS7oV1o+wXaBdT8LWNkbxbuI+X5mijqlcktuTtUDxRZZiko29AlsPSRg+i4AdYhUf2zJMsDSSkiO+z4aeSJkuETj2fPU3gtXMG95MMgzwnQNu2EPFJRZJ+a4QCYZm28iLpx2Dp3OcWM8t1Du5prNuRb8uDdhm0teixhXfFi+zy6k74JRjem0X0K7nYEnCtMhR6cVGpjIKrXUFRyr6ZRULLGDdnHPXPQLiUnooWRE6ZHXtR8bfRgFub9HAb+1RdmoHvr++auE7gmHNWO36NP2Eyme9vjc5TfDirMIsKvIaywCzxvWit51Og0b5mAt5NKYVz42HPu/ToPsKBP29xdO5zvF8GpJ2xBBF5HAN5sufyODzqHOzPAosaYftCQ59kgFJEF71A5EC1UGZQYAM
  template:
    metadata:
      annotations:
        sealedsecrets.bitnami.com/cluster-wide: "true"
      labels:
        app: cups
      name: cups-secret
    type: Opaque

---
apiVersion: v1
kind: ConfigMap
metadata:
  name: printer-configuration
data:
  printers.conf: |
    # Printer configuration file for CUPS v2.4.2
    # Written by cupsd
    # DO NOT EDIT THIS FILE WHEN CUPSD IS RUNNING
    NextPrinterId 2
    <Printer Brother_HL-L2310D_series>
    PrinterId 1
    UUID urn:uuid:63d4ada8-16da-30b7-50cf-fc6c5de85af3
    Info Brother HL-L2310D series
    Location 
    MakeModel Brother HL-L2300D series, using brlaser v6
    DeviceURI usb://Brother/HL-L2310D%20series?serial=E78096B3N505967
    State Idle
    StateTime 1728492293
    ConfigTime 1728492270
    Type 4180
    Accepting Yes
    Shared Yes
    JobSheets none none
    QuotaPeriod 0
    PageLimit 0
    KLimit 0
    OpPolicy default
    ErrorPolicy retry-job
    </Printer>
  Brother_HL-L2310D_series.ppd: |
    *PPD-Adobe: "4.3"
    *%%%% PPD file for HL-L2300D with CUPS.
    *%%%% Created by the CUPS PPD Compiler CUPS v2.4.2.
    *FormatVersion: "4.3"
    *FileVersion: "6"
    *LanguageVersion: English
    *LanguageEncoding: ISOLatin1
    *PCFileName: "brl2300d.ppd"
    *Product: "(HL-L2300D)"
    *Manufacturer: "Brother"
    *ModelName: "Brother HL-L2300D"
    *ShortNickName: "Brother HL-L2300D"
    *NickName: "Brother HL-L2300D series, using brlaser v6"
    *PSVersion: "(3010.000) 0"
    *LanguageLevel: "3"
    *ColorDevice: False
    *DefaultColorSpace: Gray
    *FileSystem: False
    *Throughput: "1"
    *LandscapeOrientation: Plus90
    *TTRasterizer: Type42
    *% Driver-defined attributes...
    *1284DeviceID: "MFG:Brother;CMD:PJL,HBP;MDL:HL-L2300D series;CLS:PRINTER;CID:Brother Laser Type1;"
    *cupsBackSide: "Rotated"
    *cupsVersion: 2.4
    *cupsModelNumber: 0
    *cupsManualCopies: False
    *cupsFilter: "application/vnd.cups-raster 33 rastertobrlaser"
    *cupsLanguages: "en"
    *OpenUI *PageSize/Media Size: PickOne
    *OrderDependency: 10 AnySetup *PageSize
    *DefaultPageSize: A4
    *PageSize A4/A4: "<</PageSize[595 842]/ImagingBBox null>>setpagedevice"
    *PageSize A5/A5: "<</PageSize[420 595]/ImagingBBox null>>setpagedevice"
    *PageSize A6/A6: "<</PageSize[297 420]/ImagingBBox null>>setpagedevice"
    *PageSize B5/JIS B5: "<</PageSize[516 729]/ImagingBBox null>>setpagedevice"
    *PageSize B6/JIS B6: "<</PageSize[363 516]/ImagingBBox null>>setpagedevice"
    *PageSize EnvC5/Envelope C5: "<</PageSize[459 649]/ImagingBBox null>>setpagedevice"
    *PageSize EnvMonarch/Envelope Monarch: "<</PageSize[279 540]/ImagingBBox null>>setpagedevice"
    *PageSize EnvDL/Envelope DL: "<</PageSize[312 624]/ImagingBBox null>>setpagedevice"
    *PageSize Executive/Executive: "<</PageSize[522 756]/ImagingBBox null>>setpagedevice"
    *PageSize Legal/US Legal: "<</PageSize[612 1008]/ImagingBBox null>>setpagedevice"
    *PageSize Letter/US Letter: "<</PageSize[612 792]/ImagingBBox null>>setpagedevice"
    *CloseUI: *PageSize
    *OpenUI *PageRegion/Media Size: PickOne
    *OrderDependency: 10 AnySetup *PageRegion
    *DefaultPageRegion: A4
    *PageRegion A4/A4: "<</PageSize[595 842]/ImagingBBox null>>setpagedevice"
    *PageRegion A5/A5: "<</PageSize[420 595]/ImagingBBox null>>setpagedevice"
    *PageRegion A6/A6: "<</PageSize[297 420]/ImagingBBox null>>setpagedevice"
    *PageRegion B5/JIS B5: "<</PageSize[516 729]/ImagingBBox null>>setpagedevice"
    *PageRegion B6/JIS B6: "<</PageSize[363 516]/ImagingBBox null>>setpagedevice"
    *PageRegion EnvC5/Envelope C5: "<</PageSize[459 649]/ImagingBBox null>>setpagedevice"
    *PageRegion EnvMonarch/Envelope Monarch: "<</PageSize[279 540]/ImagingBBox null>>setpagedevice"
    *PageRegion EnvDL/Envelope DL: "<</PageSize[312 624]/ImagingBBox null>>setpagedevice"
    *PageRegion Executive/Executive: "<</PageSize[522 756]/ImagingBBox null>>setpagedevice"
    *PageRegion Legal/US Legal: "<</PageSize[612 1008]/ImagingBBox null>>setpagedevice"
    *PageRegion Letter/US Letter: "<</PageSize[612 792]/ImagingBBox null>>setpagedevice"
    *CloseUI: *PageRegion
    *DefaultImageableArea: A4
    *ImageableArea A4/A4: "8 8 587 826"
    *ImageableArea A5/A5: "8 8 412 579"
    *ImageableArea A6/A6: "8 8 289 404"
    *ImageableArea B5/JIS B5: "8 8 508 713"
    *ImageableArea B6/JIS B6: "8 8 355 500"
    *ImageableArea EnvC5/Envelope C5: "8 8 451 633"
    *ImageableArea EnvMonarch/Envelope Monarch: "8 8 271 524"
    *ImageableArea EnvDL/Envelope DL: "8 8 304 608"
    *ImageableArea Executive/Executive: "8 8 514 740"
    *ImageableArea Legal/US Legal: "8 8 604 992"
    *ImageableArea Letter/US Letter: "8 8 604 776"
    *DefaultPaperDimension: A4
    *PaperDimension A4/A4: "595 842"
    *PaperDimension A5/A5: "420 595"
    *PaperDimension A6/A6: "297 420"
    *PaperDimension B5/JIS B5: "516 729"
    *PaperDimension B6/JIS B6: "363 516"
    *PaperDimension EnvC5/Envelope C5: "459 649"
    *PaperDimension EnvMonarch/Envelope Monarch: "279 540"
    *PaperDimension EnvDL/Envelope DL: "312 624"
    *PaperDimension Executive/Executive: "522 756"
    *PaperDimension Legal/US Legal: "612 1008"
    *PaperDimension Letter/US Letter: "612 792"
    *OpenUI *Resolution/Resolution: PickOne
    *OrderDependency: 10 AnySetup *Resolution
    *DefaultResolution: 600dpi
    *Resolution 600dpi/600 DPI: "<</HWResolution[600 600]/cupsBitsPerColor 1/cupsRowCount 0/cupsRowFeed 0/cupsRowStep 0/cupsColorSpace 3>>setpagedevice"
    *Resolution 1200dpi/1200HQ: "<</HWResolution[1200 1200]/cupsBitsPerColor 1/cupsRowCount 0/cupsRowFeed 0/cupsRowStep 0/cupsColorSpace 3>>setpagedevice"
    *CloseUI: *Resolution
    *OpenUI *InputSlot/Media Source: PickOne
    *OrderDependency: 10 AnySetup *InputSlot
    *DefaultInputSlot: Auto
    *InputSlot Auto/Auto-select: "<</MediaPosition 0>>setpagedevice"
    *InputSlot Tray1/Tray 1: "<</MediaPosition 1>>setpagedevice"
    *InputSlot Tray2/Tray 2: "<</MediaPosition 2>>setpagedevice"
    *InputSlot Tray3/Tray 3: "<</MediaPosition 3>>setpagedevice"
    *InputSlot MPTray/MP Tray: "<</MediaPosition 4>>setpagedevice"
    *InputSlot Manual/Manual: "<</MediaPosition 5>>setpagedevice"
    *CloseUI: *InputSlot
    *OpenUI *MediaType/Media Type: PickOne
    *OrderDependency: 10 AnySetup *MediaType
    *DefaultMediaType: PLAIN
    *MediaType PLAIN/Plain paper: "<</MediaType(PLAIN)/cupsMediaType 0>>setpagedevice"
    *MediaType THIN/Thin paper: "<</MediaType(THIN)/cupsMediaType 1>>setpagedevice"
    *MediaType THICK/Thick paper: "<</MediaType(THICK)/cupsMediaType 2>>setpagedevice"
    *MediaType THICKER/Thicker paper: "<</MediaType(THICKER)/cupsMediaType 3>>setpagedevice"
    *MediaType BOND/Bond paper: "<</MediaType(BOND)/cupsMediaType 4>>setpagedevice"
    *MediaType TRANS/Transparencies: "<</MediaType(TRANS)/cupsMediaType 5>>setpagedevice"
    *MediaType ENV/Envelopes: "<</MediaType(ENV)/cupsMediaType 6>>setpagedevice"
    *MediaType ENV-THICK/Thick envelopes: "<</MediaType(ENV-THICK)/cupsMediaType 7>>setpagedevice"
    *MediaType ENV-THIN/Thin envelopes: "<</MediaType(ENV-THIN)/cupsMediaType 8>>setpagedevice"
    *CloseUI: *MediaType
    *OpenUI *brlaserEconomode/Toner save mode: Boolean
    *OrderDependency: 10 AnySetup *brlaserEconomode
    *DefaultbrlaserEconomode: False
    *brlaserEconomode False/Off: "<</cupsInteger10 0>>setpagedevice"
    *brlaserEconomode True/On: "<</cupsInteger10 1>>setpagedevice"
    *CloseUI: *brlaserEconomode
    *OpenUI *Duplex/2-Sided Printing: PickOne
    *OrderDependency: 10 AnySetup *Duplex
    *DefaultDuplex: None
    *Duplex None/Off (1-Sided): "<</Duplex false>>setpagedevice"
    *Duplex DuplexNoTumble/Long-Edge (Portrait): "<</Duplex true/Tumble false>>setpagedevice"
    *Duplex DuplexTumble/Short-Edge (Landscape): "<</Duplex true/Tumble true>>setpagedevice"
    *CloseUI: *Duplex
    *DefaultFont: Courier
    *Font AvantGarde-Book: Standard "(1.05)" Standard ROM
    *Font AvantGarde-BookOblique: Standard "(1.05)" Standard ROM
    *Font AvantGarde-Demi: Standard "(1.05)" Standard ROM
    *Font AvantGarde-DemiOblique: Standard "(1.05)" Standard ROM
    *Font Bookman-Demi: Standard "(1.05)" Standard ROM
    *Font Bookman-DemiItalic: Standard "(1.05)" Standard ROM
    *Font Bookman-Light: Standard "(1.05)" Standard ROM
    *Font Bookman-LightItalic: Standard "(1.05)" Standard ROM
    *Font Courier: Standard "(1.05)" Standard ROM
    *Font Courier-Bold: Standard "(1.05)" Standard ROM
    *Font Courier-BoldOblique: Standard "(1.05)" Standard ROM
    *Font Courier-Oblique: Standard "(1.05)" Standard ROM
    *Font Helvetica: Standard "(1.05)" Standard ROM
    *Font Helvetica-Bold: Standard "(1.05)" Standard ROM
    *Font Helvetica-BoldOblique: Standard "(1.05)" Standard ROM
    *Font Helvetica-Narrow: Standard "(1.05)" Standard ROM
    *Font Helvetica-Narrow-Bold: Standard "(1.05)" Standard ROM
    *Font Helvetica-Narrow-BoldOblique: Standard "(1.05)" Standard ROM
    *Font Helvetica-Narrow-Oblique: Standard "(1.05)" Standard ROM
    *Font Helvetica-Oblique: Standard "(1.05)" Standard ROM
    *Font NewCenturySchlbk-Bold: Standard "(1.05)" Standard ROM
    *Font NewCenturySchlbk-BoldItalic: Standard "(1.05)" Standard ROM
    *Font NewCenturySchlbk-Italic: Standard "(1.05)" Standard ROM
    *Font NewCenturySchlbk-Roman: Standard "(1.05)" Standard ROM
    *Font Palatino-Bold: Standard "(1.05)" Standard ROM
    *Font Palatino-BoldItalic: Standard "(1.05)" Standard ROM
    *Font Palatino-Italic: Standard "(1.05)" Standard ROM
    *Font Palatino-Roman: Standard "(1.05)" Standard ROM
    *Font Symbol: Special "(001.005)" Special ROM
    *Font Times-Bold: Standard "(1.05)" Standard ROM
    *Font Times-BoldItalic: Standard "(1.05)" Standard ROM
    *Font Times-Italic: Standard "(1.05)" Standard ROM
    *Font Times-Roman: Standard "(1.05)" Standard ROM
    *Font ZapfChancery-MediumItalic: Standard "(1.05)" Standard ROM
    *Font ZapfDingbats: Special "(001.005)" Special ROM
    *% End of brl2300d.ppd, 08386 bytes.

---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: cups
  labels:
    app: cups
spec:
  replicas: 1
  selector:
    matchLabels:
      app: cups
  template:
    metadata:
      labels:
        app: cups
    spec:
      hostNetwork: true
      containers:
        - name: cups
          image: ghcr.io/anujdatar/cups:latest
          ports:
            - name: http
              containerPort: 631
          securityContext:
            privileged: true
          env:
            - name: CUPSADMIN
              value: "admin"
            - name: CUPSPASSWORD
              valueFrom:
                secretKeyRef:
                  name: cups-secret
                  key: CUPSPASSWORD
            - name: TZ
              value: "Europe/Amsterdam"
          volumeMounts:
            - name: printer-config-volume
              mountPath: /etc/cups/printers.conf
              subPath: printers.conf
            - name: printer-config-volume
              mountPath: /etc/cups/ppd/Brother_HL-L2310D_series.ppd
              subPath: Brother_HL-L2310D_series.ppd
            - mountPath: /var/run/dbus
              name: dbus
            - mountPath: /var/run/avahi-daemon/socket
              name: avahi-socket
            - mountPath: /dev/bus/usb
              name: usb-devices
              mountPropagation: Bidirectional
          resources: {}
      volumes:
        - name: dbus
          hostPath:
            path: /var/run/dbus
            type: DirectoryOrCreate
        - name: avahi-socket
          hostPath:
            path: /var/run/avahi-daemon/socket
            type: Socket
        - name: usb-devices
          hostPath:
            path: /dev/bus/usb
            type: Directory
        - name: printer-config-volume
          configMap:
            name: printer-configuration

---
kind: Service
apiVersion: v1
metadata:
  name: cups
  labels:
    app: cups
spec:
  selector:
    app: cups
  type: ClusterIP
  ports:
    - name: http
      protocol: TCP
      port: 631
      targetPort: http

---
kind: Ingress
apiVersion: networking.k8s.io/v1
metadata:
  name: cups
  labels:
    app: cups
spec:
  ingressClassName: nginx-private
  rules:
    - host: cups.lan.stamx.nl
      http:
        paths:
          - path: "/"
            pathType: Prefix
            backend:
              service:
                name: cups
                port:
                  number: 6052
