apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

resources:
- ../base

images:
- name: ghcr.io/x-real-ip/node-red
  newTag: 075c71adff1215ff9a37fdb5adab9a1913c231a8

namespace: home-automation

labels:
- includeSelectors: true
  pairs:
    storage: truenas
