apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

resources:
- ../base

images:
- name: ghcr.io/x-real-ip/node-red
  newTag: 1d9ae848f3e92460bd64097057bcf4b4be624ffc

namespace: home-automation

labels:
- includeSelectors: true
  pairs:
    storage: truenas
