apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

resources:
- ../base

images:
- name: ghcr.io/x-real-ip/node-red
  newTag: 0c19b6eb8d5eb9697b19c711fe2dd145f79a06cd

namespace: home-automation

labels:
- includeSelectors: true
  pairs:
    storage: truenas
