apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

resources:
- ../base

images:
- name: ghcr.io/x-real-ip/node-red
  newTag: 623a893418945ef0c4d35a9c987208805e52aac5

namespace: home-automation

labels:
- includeSelectors: true
  pairs:
    storage: truenas
