apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

resources:
- ../base

images:
- name: ghcr.io/x-real-ip/node-red
  newTag: 040c71d29766f1d881a89562e90882c9a953a207

namespace: home-automation

labels:
- includeSelectors: true
  pairs:
    storage: truenas
