apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

resources:
- ../base

namespace: home-automation

images:
- name: ghcr.io/alexxit/go2rtc
  newName: ghcr.io/alexxit/go2rtc
  newTag: 1.9.13

labels:
- includeSelectors: true
  pairs:
    app: go2rtc
