---
kind: PersistentVolume
apiVersion: v1
metadata:
  name: pv-iscsi-paperless-db
  labels:
    app: paperless-database
spec:
  storageClassName: "freenas-iscsi-manual-csi"
  capacity:
    storage: 10Gi
  accessModes:
    - ReadWriteOnce
  persistentVolumeReclaimPolicy: Retain
  csi:
    driver: org.democratic-csi.node-manual
    readOnly: false
    fsType: xfs
    volumeHandle: pv-iscsi-paperless-db
    volumeAttributes:
      portal: truenas-master.lan.stamx.nl:3260
      iqn: iqn.2005-10.org.freenas.ctl:paperless-db
      lun: "0"
      node_attach_driver: iscsi
      provisioner_driver: node-manual

---
kind: PersistentVolume
apiVersion: v1
metadata:
  name: pv-nfs-paperless-consume
  labels:
    app: paperless
spec:
  storageClassName: "freenas-nfs-manual-csi"
  capacity:
    storage: 10Gi
  accessModes:
    - ReadWriteMany
  persistentVolumeReclaimPolicy: Retain
  mountOptions:
    - nfsvers=4
    - nolock
    - noatime
  csi:
    driver: org.democratic-csi.node-manual
    readOnly: false
    fsType: nfs
    volumeHandle: pv-nfs-paperless-consume
    volumeAttributes:
      server: truenas-master.lan.stamx.nl
      share: /mnt/ssd/webdav/paperless-consume
      node_attach_driver: nfs
      provisioner_driver: node-manual

---
kind: PersistentVolume
apiVersion: v1
metadata:
  name: pv-nfs-paperless-data
  labels:
    app: paperless
spec:
  storageClassName: "freenas-nfs-manual-csi"
  capacity:
    storage: 10Gi
  accessModes:
    - ReadWriteMany
  persistentVolumeReclaimPolicy: Retain
  mountOptions:
    - nfsvers=4
    - nolock
    - noatime
  csi:
    driver: org.democratic-csi.node-manual
    readOnly: false
    fsType: nfs
    volumeHandle: pv-nfs-paperless-data
    volumeAttributes:
      server: truenas-master.lan.stamx.nl
      share: /mnt/ssd/containers/k8s/paperless-data
      node_attach_driver: nfs
      provisioner_driver: node-manual

---
kind: PersistentVolume
apiVersion: v1
metadata:
  name: pv-nfs-paperless-export
  labels:
    app: paperless
spec:
  storageClassName: "freenas-nfs-manual-csi"
  capacity:
    storage: 10Gi
  accessModes:
    - ReadWriteMany
  persistentVolumeReclaimPolicy: Retain
  mountOptions:
    - nfsvers=4
    - nolock
    - noatime
  csi:
    driver: org.democratic-csi.node-manual
    readOnly: false
    fsType: nfs
    volumeHandle: pv-nfs-paperless-export
    volumeAttributes:
      server: truenas-master.lan.stamx.nl
      share: /mnt/ssd/containers/k8s/paperless-export
      node_attach_driver: nfs
      provisioner_driver: node-manual

---
kind: PersistentVolume
apiVersion: v1
metadata:
  name: pv-nfs-paperless-media
  labels:
    app: paperless
spec:
  storageClassName: "freenas-nfs-manual-csi"
  capacity:
    storage: 10Gi
  accessModes:
    - ReadWriteMany
  persistentVolumeReclaimPolicy: Retain
  mountOptions:
    - nfsvers=4
    - nolock
    - noatime
  csi:
    driver: org.democratic-csi.node-manual
    readOnly: false
    fsType: nfs
    volumeHandle: pv-nfs-paperless-media
    volumeAttributes:
      server: truenas-master.lan.stamx.nl
      share: /mnt/ssd/containers/k8s/paperless-media
      node_attach_driver: nfs
      provisioner_driver: node-manual

---
kind: PersistentVolumeClaim
apiVersion: v1
metadata:
  name: pvc-nfs-paperless-consume
  labels:
    app: paperless
spec:
  storageClassName: freenas-nfs-manual-csi
  accessModes:
    - ReadWriteMany
  resources:
    requests:
      storage: 10Gi
  volumeName: pv-nfs-paperless-consume

---
kind: PersistentVolumeClaim
apiVersion: v1
metadata:
  name: pvc-nfs-paperless-data
  labels:
    app: paperless
spec:
  storageClassName: freenas-nfs-manual-csi
  accessModes:
    - ReadWriteMany
  resources:
    requests:
      storage: 10Gi
  volumeName: pv-nfs-paperless-data

---
kind: PersistentVolumeClaim
apiVersion: v1
metadata:
  name: pvc-nfs-paperless-export
  labels:
    app: paperless
spec:
  storageClassName: freenas-nfs-manual-csi
  accessModes:
    - ReadWriteMany
  resources:
    requests:
      storage: 10Gi
  volumeName: pv-nfs-paperless-export

---
kind: PersistentVolumeClaim
apiVersion: v1
metadata:
  name: pvc-nfs-paperless-media
  labels:
    app: paperless
spec:
  storageClassName: freenas-nfs-manual-csi
  accessModes:
    - ReadWriteMany
  resources:
    requests:
      storage: 10Gi
  volumeName: pv-nfs-paperless-media

---
kind: SealedSecret
apiVersion: bitnami.com/v1alpha1
metadata:
  name: paperless-postgresql
  labels:
    app: paperless-database
spec:
  encryptedData:
    postgres-password: AgCaznYATyTFFUCbfEB1PqW9zh6Xk3CHyzx7kFqaHu+/3LLbjXTzTWdNxkeo2VMMxlhEcVrwH8NX8NJVp5PtRPWsvf3Jd53Dix1QZ72J0hT6bj8evQnmEvz2U4yR4XZV7qhjQU+By7UcsuE5Sjd/m5GWoULLARPi5fswnZOCN5rY2wxpjnf2UdGYOjBucU1FwZEcG0VLdo6Mg0QNZg2D//5ULyw5vfwdwBy9BPmg2Qiie44VDBRnC9LK7UTbJ/jmZTB9lzC3j6yakWxzXVvCZzYomd6fBxGedkzF+4unLJic5WH2WWSMp2znwXID4V5kK4cTb+xVpN+2woat08FaW3oGDGixwnWBY0Wv6AWWluaVMzscQvdw1IJa+VOzkr5UJ9uqZCLQTA9e9Mib9sxR0zcbmu1QxGn27kQgSPLl9vGXBBu6kl53+X7MpH46GW5Bx3nhqUln4Kxm3ydvwaf1eJfANPev1bJ6YdE47T4rEa8dePZegCOtlxuSoOTTc69hguuMKyuDj3+un27VblULjMmuZu7qFxalUSc1pZOfxjc68Et5OvuzC5YUFuvtvsF6CTYGI12dXqg+rRqBI9ACiVpR6Xm1w5Vy+nbRzCvksoCryiqtbyuTVmzJ7IkO7t6MOBJ5E6YUItDQibe5l0LWybodfPhj+UFm6oPSx4C2cJ2rwwb6S8yB+8bOGB4U9iMvku4ZUyCy+n6P/yQdoVfOWg==
  template:
    metadata:
      labels:
        app: paperless-database
      name: paperless-postgresql
      namespace: tools
    type: Opaque

---
kind: SealedSecret
apiVersion: bitnami.com/v1alpha1
metadata:
  name: paperless-admin-password
  namespace: tools
  labels:
    app: paperless
spec:
  encryptedData:
    admin-password: AgA4ybCtOvoNFSR9uMfjJY0UwGQcT+ZQtqpcypdjYbkJxBXsjWQwG4KXRhBJ3lpYrWPy3zNkiiYCmIu/W5VqRT4edcgv2vwxT8Pwy2s4Vsn2ZHvgqKY8Nb+OPBIJylwsI+GVNH8AwqpjvT6z0yQNflIVZVzHcSMUwzhRKVObYSAIY7+lMjdIyY0slZJurQyVJuoTucv/QQ/yqSv4RWFUkXsw7XrWLHCEyIsJSExK2CE4C+rEK5TDBjxKesT05Ium5GdEaqIHeChZfED70MfDJnMemtdTPkKASa+7T0uSqyiAkV8J08BfUijc5b0hsgi87ZB451koRng2HrN3y1UGTJF+vGXx7hop7id2hKi4zxjmLkP+Uu9sved71UFEuHcByNCiVLG6uFPq4QQphBatVl2KxQ1wAzY2TNz/PHDDImD0e5xiEvYrdZMvymOgNs7sw1teWy1kJZd8Pnkd2a4jTzaHZ0CS3gC5txlRC1lpgWiO0WLp8VGVPxTuxrM5WJbMEJ2cgZ7e7E3lzOp2Z12ywOJ08alKceLFCmmYD83PsQ4oPFNQrl7R09IEzoX9F99ZkLgNcRERTOW7E5AlGbjEnw6tg33JAYwFjjA31ZYdRqH3TFIdwK4BjC5U/OK8AL/A7FJN2asyTO/S3X/1u/odFPlx9H6ADUbs2Qd+X40zfxsn1Hz3xx4s7ISI0QIJXhZW5KjJCHkwj5tvsv8P3xw4eQ==
  template:
    metadata:
      labels:
        app: paperless
      name: paperless-admin-password
      namespace: tools
    type: Opaque

---
apiVersion: apps/v1
kind: StatefulSet
metadata:
  name: paperless-postgresql
  labels:
    app: paperless-database
spec:
  replicas: 1
  serviceName: paperless-postgresql-hl
  persistentVolumeClaimRetentionPolicy:
    whenDeleted: Delete
  updateStrategy:
    type: RollingUpdate
  selector:
    matchLabels:
      app: paperless-database
  template:
    metadata:
      labels:
        app: paperless-database
    spec:
      containers:
        - name: postgresql
          image: "docker.io/postgres:14"
          imagePullPolicy: IfNotPresent
          env:
            - name: POSTGRES_DB
              value: paperless
            - name: POSTGRES_USER
              value: paperless
            - name: POSTGRES_PASSWORD
              valueFrom:
                secretKeyRef:
                  name: paperless-postgresql
                  key: postgres-password
          ports:
            - containerPort: 5432
              name: postgres
          readinessProbe:
            exec:
              command:
                - sh
                - -c
                - pg_isready -U "$POSTGRES_USER" -h 127.0.0.1 -p 5432
            initialDelaySeconds: 10
            periodSeconds: 10
            timeoutSeconds: 5
            failureThreshold: 6
          livenessProbe:
            exec:
              command:
                - sh
                - -c
                - pg_isready -U "$POSTGRES_USER" -h 127.0.0.1 -p 5432
            initialDelaySeconds: 30
            periodSeconds: 10
            timeoutSeconds: 5
            failureThreshold: 6
          resources:
            requests:
              cpu: 250m
              memory: 256Mi
            limits: {}
          volumeMounts:
            - name: dshm
              mountPath: /dev/shm
            - name: data
              mountPath: /var/lib/postgresql/data
              subPath: data
      volumes:
        - name: dshm
          emptyDir:
            medium: Memory
  volumeClaimTemplates:
    - metadata:
        name: data
        labels:
          app: paperless-database
      spec:
        accessModes: ["ReadWriteOnce"]
        storageClassName: freenas-iscsi-manual-csi
        resources:
          requests:
            storage: 10Gi

---
kind: Deployment
apiVersion: apps/v1
metadata:
  name: paperless
  labels:
    app: paperless
spec:
  revisionHistoryLimit: 3
  replicas: 1
  strategy:
    type: Recreate
  selector:
    matchLabels:
      app: paperless
  template:
    metadata:
      labels:
        app: paperless
    spec:
      affinity:
        podAffinity:
          requiredDuringSchedulingIgnoredDuringExecution:
            - labelSelector:
                matchLabels:
                  app: paperless-database
              topologyKey: "kubernetes.io/hostname"
      securityContext:
        fsGroup: 1000
      initContainers:
        - name: postgresql-isready
          image: "docker.io/postgres:14"
          imagePullPolicy: IfNotPresent
          command:
            - "sh"
            - "-c"
            - until pg_isready -U paperless -h paperless-postgresql-hl -p 5432 ;
              do sleep 2 ; done
      containers:
        - name: paperless
          image: "ghcr.io/paperless-ngx/paperless-ngx:latest"
          imagePullPolicy: Always
          env:
            - name: COMPOSE_PROJECT_NAME
              value: paperless
            - name: PAPERLESS_OCR_LANGUAGES
              value: nld
            - name: PAPERLESS_OCR_LANGUAGE
              value: nld
            - name: PAPERLESS_PORT
              value: "8000"
            - name: PAPERLESS_CONSUMER_POLLING
              value: "60"
            - name: PAPERLESS_FILENAME_FORMAT
              value: "{created_year}/{correspondent}/{title}"
            - name: PAPERLESS_TIME_ZONE
              value: "Europe/Amsterdam"
            - name: PAPERLESS_URL
              value: "https://paperless.lan.stamx.nl"
            - name: USERMAP_GID
              value: "2000"
            - name: USERMAP_UID
              value: "1000"
            - name: PAPERLESS_ADMIN_USER
              value: admin
            - name: PAPERLESS_REDIS
              value: "redis://redis-hl.tools.svc.cluster.local:6379"
            - name: PAPERLESS_DBHOST
              value: "paperless-postgresql-hl"
            - name: PAPERLESS_DB_READ_CACHE_ENABLED
              value: "true"
            - name: PAPERLESS_DBPASS
              valueFrom:
                secretKeyRef:
                  name: paperless-postgresql
                  key: postgres-password
            - name: PAPERLESS_ADMIN_PASSWORD
              valueFrom:
                secretKeyRef:
                  name: paperless-admin-password
                  key: admin-password
          ports:
            - containerPort: 8000
              protocol: TCP
          livenessProbe:
            tcpSocket:
              port: 8000
            initialDelaySeconds: 0
            failureThreshold: 3
            timeoutSeconds: 1
            periodSeconds: 10
          readinessProbe:
            tcpSocket:
              port: 8000
            initialDelaySeconds: 0
            failureThreshold: 3
            timeoutSeconds: 1
            periodSeconds: 10
          startupProbe:
            tcpSocket:
              port: 8000
            initialDelaySeconds: 0
            failureThreshold: 30
            timeoutSeconds: 1
            periodSeconds: 5
          resources: {}
          volumeMounts:
            - name: consume
              mountPath: /usr/src/paperless/consume
            - name: data
              mountPath: /usr/src/paperless/data
            - name: export
              mountPath: /usr/src/paperless/export
            - name: media
              mountPath: /usr/src/paperless/media
      volumes:
        - name: consume
          persistentVolumeClaim:
            claimName: pvc-nfs-paperless-consume
        - name: data
          persistentVolumeClaim:
            claimName: pvc-nfs-paperless-data
        - name: export
          persistentVolumeClaim:
            claimName: pvc-nfs-paperless-export
        - name: media
          persistentVolumeClaim:
            claimName: pvc-nfs-paperless-media

---
kind: Service
apiVersion: v1
metadata:
  name: paperless-postgresql-hl
  labels:
    app: paperless-database
    service.alpha.kubernetes.io/tolerate-unready-endpoints: "true"
spec:
  selector:
    app: paperless-database
  type: ClusterIP
  clusterIP: None
  publishNotReadyAddresses: true
  ports:
    - name: tcp-postgresql
      port: 5432
      targetPort: 5432

---
kind: Service
apiVersion: v1
metadata:
  name: paperless
  labels:
    app: paperless
spec:
  selector:
    app: paperless
  type: ClusterIP
  ports:
    - name: http
      protocol: TCP
      port: 8000
      targetPort: 8000

---
kind: Ingress
apiVersion: networking.k8s.io/v1
metadata:
  name: paperless
  labels:
    app: paperless
  annotations:
    nginx.ingress.kubernetes.io/proxy-body-size: 128m
spec:
  ingressClassName: nginx-private
  rules:
    - host: paperless.lan.stamx.nl
      http:
        paths:
          - path: "/"
            pathType: Prefix
            backend:
              service:
                name: paperless
                port:
                  number: 8000
  tls:
    - hosts:
        - paperless.lan.stamx.nl
      secretName: tls-wildcard-lan-stamx-nl

---
apiVersion: gateway.networking.k8s.io/v1
kind: HTTPRoute
metadata:
  name: paperless
  labels:
    gateway: private
    app: paperless
spec:
  hostnames:
    - paperless.lan.stamx.nl
  parentRefs:
    - name: private
      namespace: gateway-private
      sectionName: https
  rules:
    - backendRefs:
        - name: paperless
          port: 8000
