apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

resources:
- ../base

namespace: tools

labels:
- includeSelectors: true
  pairs:
    storage: truenas

images:
- name: ghcr.io/x-real-ip/webdav
  newTag: 5a5b960ff98b1f5f5f5caaa08ba3d70c95d8658e
