apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

resources:
- ../base

namespace: home-automation

labels:
- includeSelectors: true
  pairs:
    storage: truenas

images:
  - name: "ghcr.io/blakeblackshear/frigate"
    newTag: "0.15.0-standard-arm64"

patches:
- path: patch_deployment_frigate.yaml
