---
kind: PersistentVolume
apiVersion: v1
metadata:
  name: pv-nfs-webdav-server-data
  labels:
    app: webdav
spec:
  storageClassName: "freenas-nfs-manual-csi"
  capacity:
    storage: 600Gi
  accessModes:
    - ReadWriteMany
  persistentVolumeReclaimPolicy: Retain
  mountOptions:
    - nfsvers=4
    - nolock
    - noatime
  csi:
    driver: org.democratic-csi.node-manual
    readOnly: false
    fsType: nfs
    volumeHandle: pv-nfs-webdav-server-data
    volumeAttributes:
      server: truenas-master.lan.stamx.nl
      share: /mnt/ssd/webdav
      node_attach_driver: nfs
      provisioner_driver: node-manual

---
kind: PersistentVolumeClaim
apiVersion: v1
metadata:
  name: pvc-nfs-webdav-server-data
  namespace: tools
  labels:
    app: webdav
spec:
  storageClassName: freenas-nfs-manual-csi
  accessModes:
    - ReadWriteMany
  resources:
    requests:
      storage: 600Gi
  volumeName: pv-nfs-webdav-server-data

---
apiVersion: bitnami.com/v1alpha1
kind: SealedSecret
metadata:
  annotations:
    sealedsecrets.bitnami.com/cluster-wide: "true"
  name: webdav-secret-env
spec:
  encryptedData:
    WEBDAV_PASSWORD: AgCDx+vLngmwRvnKiO8rbixPA35JdpRXPN19DlMzB/yx0t2+Wm1lz5ArWffH9vr78Hgg+UA2YkC7aCEr0rZm6qZMxMhSKqIbT6DhuLyTjOnxFwCcWx5nKawivJJejduLqdSs2MzDu7txO+kpD6oWLM/i8VwwrN44vVShDEUxp++PIGJuA49KLWNqN2Ca5fY2jkfOTjfvMhdJeEBOEOeqtbe46XomQTTyRGKWzcmzDIOOmh3vG4HDB1CAO/6E+P4O9JEGvbADV4701RZOkcz8KQkL5oIHXEefsPkmrFw8I4F5m/A4OvEBf80zERqRywpvKGf0N0OwUoqFhjVZtYYoGcX0EfLjHbyodAQoVpakWcqSiHE5L7eA9/Vcyk9UmgfgrXgj2UjaDo6iFxWrG06N2/Qphm9n9u/owQSVMxeArlbX2Cw1Po3wlYz5Dqx9scUNDsjbGwjZswEBFQh4PE1pwfqJ6OQgoD51cPFhJTd1LeOPyxstii4qSLugU7jF10OmqNg/RQwK0ZudYyo2FIuIIj0pZ0IY9LvALdQBq9rZRxLVL3d6KIX405iu0hauyw0Os0YUyY40SMMpdw/zde8BkArhbikh2qd90s7lHutfQEdismqh4zD+B7XyhpvALFDTj209579nl50OP6ahxWzuS9SUavhJGUFJFriUlasB9nuvwp4I77ekrlB8dbhWy4QT+u/KlE4Xi7mpfOzYc60xPLBY04s2I7mrXMzZ8s/Nk6c=
    WEBDAV_USERNAME: AgBnl06yo3QU9O8jiRchk4XN8NABZ7+n2jjyCZEgplsNY10ixAp41MJBhvuS3nQbzl+01iX4qcIC/DivXad5aFOXnxgv7msj+oaR9VQf8DRQs0XTEFshqsPSd+Pal/39XQP2qRMno+IQeP3/19jtr6/6EPZiA9Z7mHEljr1e3pdYZ5KpjDKVu751KPiw6S8JsKrdp4ULbHuuago6rLvRd+zVdT02LRqoihrs7eayCud/4rOuTeD9s6n5zEfEpEseq1m5dxawcwHQmEIku31Rp6JRPo7PbOGETP2eSHUe2ETIwYW59g7O4UO2WJuxvySZhDu5nBHz2vIrIQkEZX0ijyy2soaA3vpD17NEspe8JLLgnHnW6M0BFdrZuLZLHnlyzKYdNBmkr7qYnqoHfk8GM1qpAXWRy37YXTGcgGa7xPKO/GZdNxkBySP/LQ/9t+FPK8cJvNQjHscaUuSRdtunVg8GrilW8Fta32cjq6IHKA+KUvgCfI9NeGIeiRD51bxoIpHcgdkgGwaNMnegTJH9Bhi+FfNpvIUAL/qncFlI+mOGc8LsbTkj62KcbMvy94SKuq4tAcSnz9EJagixU7MoKMdVBEZhk02vJ5kVu/wJevH6kIUUCD9fdBO8vipD/sIF3ZvfPZtZehRBqWkPAIDbea61b5yl6fTV5w1qngA97h5VK7XTFTdo3/vI6gw+OGM7eUf7bSIM
  template:
    metadata:
      annotations:
        sealedsecrets.bitnami.com/cluster-wide: "true"
      labels:
        app: webdav
      name: webdav-secret-env

---
kind: ConfigMap
apiVersion: v1
metadata:
  name: webdav-env
  labels:
    app: webdav
data:
  TZ: "Europe/Amsterdam"
  PUID: "1000"
  PGID: "2000"
  SERVER_NAMES: "localhost"
  TIMEOUTS_S: "1200"

---
kind: Deployment
apiVersion: apps/v1
metadata:
  name: webdav-server
  labels:
    app: webdav
spec:
  replicas: 1
  selector:
    matchLabels:
      app: webdav
  template:
    metadata:
      labels:
        app: webdav
    spec:
      containers:
        - name: webdav-server
          image: docker.io/dgraziotin/nginx-webdav-nononsense:latest
          imagePullPolicy: Always
          envFrom:
            - configMapRef:
                name: webdav-env
                optional: false
            - secretRef:
                name: webdav-secret-env
                optional: false
          ports:
            - name: http
              containerPort: 80
          resources: {}
          volumeMounts:
            - name: data
              mountPath: /data
              readOnly: false
            - name: config
              mountPath: /config
              readOnly: false
      volumes:
        - name: data
          persistentVolumeClaim:
            claimName: pvc-nfs-webdav-server-data
        - name: config
          emptyDir: {}

---
kind: Service
apiVersion: v1
metadata:
  name: webdav-server
  labels:
    app: webdav
spec:
  selector:
    app: webdav
  type: ClusterIP
  ports:
    - name: http
      protocol: TCP
      port: 80
      targetPort: http

---
kind: Ingress
apiVersion: networking.k8s.io/v1
metadata:
  name: webdav-server
  labels:
    app: webdav
  annotations:
    nginx.ingress.kubernetes.io/proxy-body-size: 20480m
    nginx.ingress.kubernetes.io/limit-connections: "5"
    nginx.ingress.kubernetes.io/limit-rpm: "15"
spec:
  ingressClassName: nginx-private
  rules:
    - host: "webdav.lan.stamx.nl"
      http:
        paths:
          - path: "/"
            pathType: Prefix
            backend:
              service:
                name: webdav-server
                port:
                  name: http
  tls:
    - hosts:
        - webdav.lan.stamx.nl
      secretName: tls-wildcard-lan-stamx-nl

---
apiVersion: gateway.networking.k8s.io/v1
kind: HTTPRoute
metadata:
  name: webdav
  labels:
    gateway: private
    app: webdav
spec:
  hostnames:
    - webdav.lan.stamx.nl
  parentRefs:
    - name: private
      namespace: gateway-private
      sectionName: https
  rules:
    - backendRefs:
        - name: webdav-server
          port: 80
