apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

resources:
  - ../base

labels:
  - includeSelectors: true
    pairs:
      storage: truenas

namespace: tools

images:
  - name: "docker.io/syncthing/syncthing"
    newTag: latest
