---
kind: PersistentVolume
apiVersion: v1
metadata:
  name: pv-iscsi-uptime-kuma
  labels:
    app: uptime-kuma
spec:
  storageClassName: "freenas-iscsi-manual-csi"
  capacity:
    storage: 2Gi
  accessModes:
    - ReadWriteOnce
  persistentVolumeReclaimPolicy: Retain
  csi:
    driver: org.democratic-csi.node-manual
    readOnly: false
    fsType: xfs
    volumeHandle: pv-iscsi-uptime-kuma
    volumeAttributes:
      portal: truenas-master.lan.stamx.nl:3260
      iqn: iqn.2005-10.org.freenas.ctl:uptime-kuma
      lun: "0"
      node_attach_driver: iscsi
      provisioner_driver: node-manual

---
kind: StatefulSet
apiVersion: apps/v1
metadata:
  name: uptime-kuma
  namespace: devops
  labels:
    app: uptime-kuma
spec:
  replicas: 1
  persistentVolumeClaimRetentionPolicy:
    whenDeleted: Delete
  serviceName: uptime-kuma
  selector:
    matchLabels:
      app: uptime-kuma
  template:
    metadata:
      labels:
        app: uptime-kuma
    spec:
      containers:
        - name: uptime-kuma
          image: "docker.io/louislam/uptime-kuma:latest"
          imagePullPolicy: Always
          env:
            - name: UPTIME_KUMA_PORT
              value: "3001"
            - name: PORT
              value: "3001"
          ports:
            - name: uptime-kuma
              containerPort: 3001
              protocol: TCP
          volumeMounts:
            - name: kuma-data
              mountPath: /app/data
  volumeClaimTemplates:
    - metadata:
        name: kuma-data
        labels:
          app: uptime-kuma
      spec:
        selector:
          matchLabels:
            app: uptime-kuma
        accessModes:
          - "ReadWriteOnce"
        storageClassName: freenas-iscsi-manual-csi
        resources:
          requests:
            storage: "2Gi"

---
kind: Service
apiVersion: v1
metadata:
  name: uptime-kuma
  namespace: devops
  labels:
    app: uptime-kuma
spec:
  selector:
    app: uptime-kuma
  ports:
    - name: uptime-kuma
      protocol: TCP
      port: 3001
      targetPort: 3001

---
apiVersion: gateway.networking.k8s.io/v1
kind: HTTPRoute
metadata:
  name: uptime-kuma
  labels:
    gateway: private
    app: uptime-kuma
spec:
  hostnames:
    - uptime-kuma.lan.stamx.nl
  parentRefs:
    - name: private
      namespace: gateway-private
      sectionName: https
  rules:
    - backendRefs:
        - name: uptime-kuma
          port: 3001
