apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

resources:
- ../base

namespace: tools

labels:
- includeSelectors: true
  pairs:
    storage: truenas

images:
- name: docker.io/postgres
  newTag: "14"
- name: ghcr.io/dani-garcia/vaultwarden
  newName: ghcr.io/dani-garcia/vaultwarden
  newTag: 1.35.1
