apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

resources:
- ../base

labels:
- includeSelectors: true
  pairs:
    storage: truenas

images:
- name: docker.io/louislam/uptime-kuma
  newName: docker.io/louislam/uptime-kuma
  newTag: 2.1.1
