apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

resources:
- ../base

namespace: tools

labels:
- includeSelectors: true
  pairs:
    storage: truenas

images:
- name: docker.io/postgres
  newTag: "14"
- name: ghcr.io/paperless-ngx/paperless-ngx
  newName: ghcr.io/paperless-ngx/paperless-ngx
  newTag: 2.19.5
